@apiaryio:registry=https://registry.apiary-internal.com/
//registry.apiary-internal.com/:_authToken=${NPM_TOKEN}
@apiaryio:always-auth=true
@apiaryio:email=sre@apiary.io
registry=https://registry.npmjs.org/
